@charset "UTF-8";
/* Reset All Default Styles */
/* line 13, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* line 24, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
body { line-height: 1; }

/* line 28, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
ol, ul { list-style: none; }

/* line 32, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
blockquote, q { quotes: none; }

/* remember to define focus styles! */
/* line 38, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
/* line 44, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
ins { text-decoration: none; }

/* line 48, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 54, /Users/terada/Sites/piyopiyo.cc/source/style/general/_reset.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 4, /Users/terada/Sites/piyopiyo.cc/source/style/general/_fixes.sass */
body { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; }

/* line 8, /Users/terada/Sites/piyopiyo.cc/source/style/general/_fixes.sass */
* { max-height: 100%; }

/* line 11, /Users/terada/Sites/piyopiyo.cc/source/style/general/_fixes.sass */
img { border: 0; vertical-align: bottom; }

/* line 19, /Users/terada/Sites/piyopiyo.cc/source/style/general/_fixes.sass */
.overlay { cursor: pointer; }

/* line 15, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
html, body, .wrap { height: 100%; }

/* line 20, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
body { font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "HiraKakuProN-W3", "メイリオ", "Meiryo", "ＭＳ ゴシック", "MS Gothic", Osaka, Verdana, arial, helvetica, sans-serif; color: #111111; font-size: 13px; line-height: 1em; position: relative; height: 100%; }

/* line 27, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
.wrap { background: #ffd200 url("/img/logo.png") no-repeat calc(50% - 20px) calc(50% - 40px); }
/* line 29, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
.wrap h1 { display: none; }
/* line 31, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
.wrap footer { position: absolute; bottom: 40px; width: 100%; }
/* line 35, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
.wrap footer .icons { width: 80px; margin: 0 auto; }
/* line 38, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
.wrap footer .icons .icon { display: block; float: left; }
/* line 41, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
.wrap footer .icons .icon.facebook { display: block; width: 40px; height: 40px; background-image: url("/img/facebook.png"); background-repeat: no-repeat; background-position: center; }
/* line 66, /Users/terada/Sites/piyopiyo.cc/source/style/general/_mixins.sass */
.wrap footer .icons .icon.facebook span { display: none; }
/* line 43, /Users/terada/Sites/piyopiyo.cc/source/style/index.sass */
.wrap footer .icons .icon.twitter { display: block; width: 40px; height: 40px; background-image: url("/img/twitter.png"); background-repeat: no-repeat; background-position: center; }
/* line 66, /Users/terada/Sites/piyopiyo.cc/source/style/general/_mixins.sass */
.wrap footer .icons .icon.twitter span { display: none; }
