---
title: PIYOPIYO - Bird Call & Shaker
description: 「PIYOPIYO」は、主に野外イベントなどでバードコールやシェイカーの販売をしています。
keywords: Bird Call,Shaker,バードコール,シェイカー
class: 'index,ja'
styles:
  - index
---

.wrap
  %h1 PIYOPIYO - Bird Call & Shaker
  %footer
    .icons
      %a.icon.facebook{href: 'https://www.facebook.com/piyopiyocc', target:'_blank'}
        %span Facebook
      %a.icon.twitter{href: 'https://twitter.com/piyopiyocc', target:'_blank'}
        %span Twitter
